#dashboard
  #rig_hashrate.square-1.orange-square
    %h1.title{style: "margin-top: 60px"} Hashrate
    %h2.value
    %h3.change-rate
      %span
  #btc_value.square-1.cyan-square
    %h1.title Bitstamp
    %h2.value.bitstamp
    %h1.title Bitcoin.de
    %h2.value.btcde
  #rig_overview.square-1.purple-square
    %h1.title Rig Overview
    %ul.list-nostyle
  #rig_pools.square-1.blue-square
    %h1.title Pools
    %ul.list-nostyle
    %div= link_to "Manage pools", pools_path
