<% content_for :title do %>
  Coin Dashboard
<% end %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="rig_hashrate" class="widget widget-number valuation">
        <h1 class="title">Hashrate</h1>
        <h2 class="value"></h2>
        <p class="change-rate">
          <span></span>
        </p>
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="btc_value" class="widget widget-number valuation">
        <h1 class="title">BTC (BitStamp)</h1>
        <h2 class="value"></h2>
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="rig_overview" class="widget widget-list buzzwords">
        <h1 class="title">Rig Overview</h1>
        <ul class="list-nostyle">
        </ul>
      </div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div id="rig_pools" class="widget widget-list buzzwords">
        <h1 class="title">Pools</h1>
        <ul class="list-nostyle">
        </ul>
      </div>
    </li>
  </ul>
</div>
